<% if @current_category && !@current_category.product_category_info.nil? %>
  <div id="category_info"class="row">
  <div class="col-xs-12 col-md-12">
    <div class="container_box">
      <h5>
        <a data-toggle="collapse" data-target="#category_info_details" href="#category_info">
          <%= @current_category.name%>详情 +
        </a>
      </h5>
      <div id="category_info_details" class="collapse">
        <br/>
        <%= sanitize(@current_category.product_category_info.details) %>  
      </div>
    </div>
  </div>
</div>
<% else %>
  <div id="info" class="row">
  <div class="col-xs-12 col-md-12">
    <div class="container_box">
      <a data-toggle="collapse" data-target="#info_details" href="#info">
        空气净化器详情 +
      </a>
      <div style="" id="info_details" class="collapse">
        <h1>空气净化器</h1>
        <p>空气净化器又称“空气清洁器”、空气清新机、净化器，是指能够吸附、分解或转化各种空气污染物（一般包括PM2.5、粉尘、花粉、异味、甲醛之类的装修污染、细菌、过敏原等），有效提高空气清洁度的产品，主要分为家用 、商用、工业、楼宇。<br/>
        空气净化器中有多种不同的技术和介质，使它能够向用户提供清洁和安全的空气。常用的空气净化技术有：吸附技术、负（正）离子技术、催化技术、光触媒技术、超结构光矿化技术、HEPA高效过滤技术、静电集尘技术等；材料技术主要有：光触媒、活性炭、合成纤维、HEAP高效材料、负离子发生器等。现有的空气净化器多采为复合型，即同时采用了多种净化技术和材料介质。</p>
        <h2>空气净化器 需求现状</h2>
        <p>近期，华北、东北雾霾日趋严重，PM2.5时常爆表，虽然这被视为工业化进程的必经阶段，但是空气污染的确对人们的健康生活造成了严重的不良影响。<br/>
        雾霾天气，应该减少户外活动，外出尽量佩戴可防护PM2.5的口罩或防毒面具。<br/>
        大家通常在雾霾天气是宅在室内的，为确保呼吸到干净卫生的空气，这个时候就需要靠谱的空气净化器出马了，装备该神器，多活好多年呀好多年。<br/>
        </p>
        <h2>空气净化器的种类</h2>
        <h3>机械过滤型空气净化器</h3>
        <p>一般主要通过以下4种方式捕获微粒：直接拦截，惯性碰撞，布朗扩散机理，筛选效应，其对细小颗粒物收集效果好但风阻大，为了获得高的净化效率，滤网的阻力较大，而且滤网需要致密导致寿命降低，需定期更换。</p>
        <h3>高压静电集尘型空气净化器</h3>
        <p>高压电集尘部分原本是向两个电极施加高电压，在两极放电之时，使通过的尘埃带电。大部分灰尘原本都是中性或带弱电荷，因此，滤芯只能过滤到比网眼大的灰尘。但缩小滤芯的网眼又会造成阻塞。高压静电集尘方式能够令尘埃带电，在电的作用下，吸附到经过特殊加工、永久带电的滤芯之上，因此，即使滤芯的网眼偏大（粗），也能够确实捕获到尘埃。</p>
        <h3>静电驻极滤网式空气净化器</h3>
        <p>相对机械式过滤能仅可有效地去除10微米以上的颗粒物，而当颗粒物的粒径除至5微米，2微米甚至亚微米的范围时，高效的机械式过滤系统就会变得比较昂贵，且风阻会显著增加。通过静电驻极空气过滤材料过滤，能以较低的能源消耗达到很高的捕获效率，同时兼具静电除尘低风阻的优点，但无需外接上万伏的电压，故不会产生臭氧，且由于其组成为聚丙烯材质，很方便抛弃处理。</p>
        <h2>空气净化器所用到的净化科技</h2>
        <h3>HEPA滤网</h3>
        <p>高效微粒空气过滤器（HEPA）是空气净化中使用的最热门的技术之一。标准的HEPA过滤器能够吸纳99.7%大小为0.3微米的悬浮微粒（0.3微米是最难过滤的大小），但是它的风阻也相对比较大，一般很少用在空气净化器中，实际空气净化器厂家宣称的HEPA其实是不是真正的HEPA它的过滤效率比HEPA稍低，风阻也相对较低。不管是真正的HEPA还是宣传的HEPA都是使吸进的空气更清新、洁净。过滤器吸收化学烟雾、细菌、尘埃微粒及花粉，经空气净化器过滤后，空气中就没有这些污染物。<br/>
        HEPA滤网的优点是有效安全，是去除空气中颗粒污染物的最主要技术，但缺点是只能滤除悬浮微粒、无法滤除有害气体。使用HEPA的空气清净机要有良好的气密设计，否则空气会绕过滤网而失去过滤效果。</p>
        <h3>静电驻极滤网</h3>
        <p>利用加载静电驻极的无纺布来集尘，是升级版的HEPA技术。优点是低风阻，高效率，高容尘量，最主要的是安全。以市面上的“高效静电空气过滤网”为代表, 采用突破性携带永久静电的滤材，有效阻隔空气中大于0.1微米的颗粒污染物，如粉尘、毛屑、花粉、细菌等，同时超低阻抗确保节能。此外，深度容尘设计确保使用寿命更长。截至2013年，在家庭及车载空调(如上汽、大众、通用等知名品牌畅销车型)以及一些商用建筑领域(如鸟巢、北京饭店、首都机场三期)得到广泛应用。</p>
        <h3>活性炭滤网</h3>
        <p>空气净化活性碳是一种国际公认的高效吸附材料，早在“一战”时，它就被应用于防毒面具。活性碳被广泛用于汽车或者室内的空气净化。活性碳是一种多孔的含碳物质，其发达的空隙结构使它具有很大的表面积，所以很容易与空气中的有毒有害气体充分接触，活性碳孔周围强大的吸附力场会立即将有毒气体分子吸入孔内，所以活性碳具有极强的吸附能力也是去除气态污染物的主要技术。活性炭吸附技术主要分为两类：物理吸附和化学吸附。<br/>
        物理吸附主要是针对大分子有机气体（例如苯类等TVOC）通过活性炭自身的微孔结构吸附这些大分子污染物。化学吸附主要针对一些小分子气态污染物例如（甲醛，硫化氢，氮氧化物等），因为小分子气体被吸附后很容易再次脱开形成二次污染，所以要对活性炭进行化学处理，使得被吸附的气体与化学成分发生反应，从而达到吸附效果。</p>
        <h3>集尘技术</h3>
        <p>利用高压静电吸附的原理去除空气中的微粒污染物,如灰尘、煤烟、花粉、香烟味和厨房油烟等。该技术的缺点是容易产生臭氧，而且只对颗粒物等大粒子气体有效果。其缺点是需要注意电器安全性问题（高压有时会达到几万伏），清洗困难，而且容易产生臭氧，必须妥善设计让臭氧排出量降至安全浓度以下。<br/>
        臭氧可以杀菌，在杀灭一些病毒细菌的同时也可能杀灭人体白细胞,有导致癌变的可能。因此一般不用于家用空气净化产品。臭氧因子主要是用来对空气进行灭菌消毒，臭氧是一种世界公认高效的灭菌解毒氧化剂，可高效分解各类装修污染物，快速杀灭各种病毒和细菌。能满足刚装修完和阶段性专门静态治理，但因为臭氧所具有的强氧化作用，会对人产生伤害，加速物体表面老化，需要提示的是这种处理方法需要人员回避，定时处理完30分钟后自动还原为氧气，是一种没有任何化学残留的绿色氧化分解剂。<br/>
        紫外线在机器内部使用紫外线灯消毒杀菌，但是也容易产生过多臭氧。要达到有效的消毒功能必须保证一定的照射时间，空气净化器一般风速较大，因此紫外杀菌能力有限，并且人体不能长时间收到紫外照射，对其密封要严密。<br/>
        </p>
        <h3>生物技术</h3>
        <p>倍半萜类化合物 在植物体内常以醇、酮、内酯等等形式存在于挥发油中,具有较强的香气和生物活性,可有效的对空气中的颗粒物 、细菌等进行消解，具有杀菌、去除异味、增加空气含氧量、保持空气清新等作用。这种植物自身带有一定气味留在空气中，一旦完成氧化进程气味会迅速消失。而不像其它植物精油弥留很久。有效成份萜类小分子同时将醛、苯、醚类有害污染物质包围、氧化、分解、清除或无害化，并增加了空气中的有效氧含量，对人体的呼吸系统功能有明显提高，在亚洲发达国家，新加坡，日本，香港，台湾，已经率先使用该技术进行城市、家居，汽车内空气的净化处理。随着港澳台交流沟通的日益频繁，此技术也随之进入中国大陆。</p>
        <h3>聚解技术</h3>
        <p>ncco氧聚解是一个专门处理及分解空气中的气体污染物的技术，不能用于处理固体污染物。<br/>纳米材料吸附污染物后，可利用活氧分解污染物并不断再生。这不但能使系统寿命大大延长，更能令提升处理污染物 的容量。<br/>活氧于纳米材料中进行的污染物分解过程，比在空气中进行快得多。加上纳米材料中添加了催化剂，进一步提高污染物被活氧分解的速度。<br/>
        不能处理那些难以分 解的非气体性污染物，如油及尘埃等。纳米材料中的纳米孔道更会被这些物质所堵塞，失去处理污染物的能力。</p>
        <h3>矿化分解</h3>
        <p>该项技术系采用矿化分解的方法制成微纳结构材料，改进其吸附能力，提高对光的响应能力，激活能量从紫外光突破到可见光，促进载流子分离，减少复合机率，将降解污染物的效率提升了两个量级，矿化率提高85%。经国家室内环境与室内环保产品质量监督检验中心权威检测矿化甲醛处理率达87%。该技术成功实现了光催化材料的负载，并保持了纳米粉体的高活性，将废水废气中的有机污染物快速矿化成CO2和H2O。</p>
        <h2>空气净化器净化效果</h2>
        <p>首先从空气净化效率 来比较。被动式吸附净化模式的空气净化器由于大多采用风机+滤网的模式进行空气净化，风利用空气的流动就难免存在死角，因此被动式的空气净化大多只能在空气净化器放置的周围产生一定的净化效果，很长时间才能将室内空气全部过滤一遍，很难对整个室内环境的净化产生效果。<br/>
        主动式的空气净化是利用空气的弥漫性的特点将净化因子到达各个角落进行空气净化，空气能够弥漫到的地方均可以产生净化效果。拿负离子空气净化器进行比较发现，对空气中释放负离子后，负离子能够主动出击、寻找空气中的污染颗粒物，并与其凝聚成团，主动将其沉降。仅从这一点来说，主动式的空气净化就有着比较明显的优越性。<br/>
        其次是对小颗粒空气污染物的清除效果进行比较。空气污染物中对人危害最大的就是直径小于2.5微米的细颗粒物（即PM2.5，医学上叫可入肺颗粒物）。而经过实验研究发现，对于PM2.5等这些细小颗粒物，被动式的净化模式显得无能为力，PM2.5等小微粒能轻易透过滤网、活性炭等物质，重新进入空气中危害人体健康。而用基于主动净化原理进行空气净化的负离子空气净化器进行对比发现，空气中小粒径的负离子不仅能够轻易去除空气中的大粒径颗粒物，而且对于空气净化器直径小于0.01洀、在工业上难以除去的微粒飘尘，有百分之百的沉降去除效果。仿大自然的生态级负离子生成技术已经问世，其特点是粒径小、活性高，以其优异的扩散效果和保健效果达到更佳的空气优化效果。<br/>
        最后是对空气 处理的 质量进行对比分析。研究发现，被动式的空气净化原理下，如果其滤网孔径能足够小对于空气处理的结果只能达到净化的目的，即只能得到“干净”的空气；而负离子空气净化器则不同，不仅能够有效去除空气中的颗粒污染物、分解甲醛等有害气体，向室内环境提供干净的空气，还可以向室内环境提供对人体疗养保健有着高效作用的空气负离子，使室内空气质量达到“健康空气”的标准。
        </p>
        <h2>空气净化器的组成结构</h2>
        <p>空气净化器的外形构成主要是机箱外壳、过滤段、风道设计、电机、电源、液晶显示屏等。决定寿命的是电机，决定净化效能的是过滤段，决定是否安静的是风道设计、机箱外壳、过滤段、电机。<br/>
        空气净化器主要由马达、风扇、空气过滤网、智能监测系统组成，部分型号的机器配有加湿功能的水箱，或是辅助净化装置，如负离子发生器、高压电路等。空气过滤网是其中的核心部件。 其他的净化装置实际上起到的仅是辅助功能，所以空气过滤网的好坏是直接影响是空气净化器效果的最关键因素。<br/>
        马达和风扇：马达风扇作为空气净化器最核心也是必不可少的配件，主要作用是控制空气进行循环流动。将带有污染物的空气吸入后经过过滤后再将清洁的空气吹出。<br/>
        空气过滤器（滤网）：市面上大多数空气净化器都主要通过滤网的过滤来实现净化空气的目的，而滤网主要分为：颗粒物滤网和有机物滤网。颗粒物滤网又分为粗效滤网、和细颗粒物滤网；有机物滤网分为除甲醛滤网、除臭滤网、活性炭滤网等。每一种滤网主要针对的污染源都不相同，过滤的原理也不相同。<br/>
        水箱：随着空气净化器越来越受到消费者的关注，空气净化器的功能也不仅仅局限于空气的净化而已，通过增加水箱结构设计，空 气净化器 在完成基本使命的同时还能够对空气起到加湿的作用。<br/>
        智能监控系统：智能监控系统 简单理解为空气质量的监督员，通过内置的监测设备可以实时对空气的质量做出优良中差的判断，消费者可以根据空气质量情况选择使用空气净化器。另外智能监控系统还能对滤网到的寿命，水箱的水位等进行监控，方便用户了解空气净化器的工作状态。<br/>
        负离子发生器与高压电路：一般作为辅助的净化功能，主要是将负离子随清洁的空气一起送出。负离子具有镇静、催眠、镇痛、增食欲、降血压等功能。雷雨过 后，人们感到心情舒畅，就是空气的负离子增多的缘故。空气负离子能还原来自大气的污染物质、氮氧化物、香烟等产生的活性氧（氧自由基）、减少过多活性氧对人体的危害。<br/>
        消毒装置：静电式空气净化装置就其结构而言，市场上大体有三种产品：平板式结 构 空气净化装置、蜂窝状六边形通道空气净化装置、圆孔通道空气净化消毒装置。</p>
      </div>
    </div>
  </div>

<% end %>
  <% if @links && @links.size > 0 %>
    <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="container_box">
        <h5>
          <a data-toggle="collapse" data-target="#category_inside_links" href="#category_links">
            <%= @current_category.name%>相关链接 +
          </a>
        </h5>
        <div id="category_inside_links" class="collapse">
          <br/>
          <% @links.each do |rl| %>
            <%= link_to rl[:text], rl[:url]%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
