<% if @current_category && !@current_category.product_category_info.nil? %>
  <div id="category_info"class="row">
  <div class="col-xs-12 col-md-12">
    <div class="container_box">
      <h5>
        <a data-toggle="collapse" data-target="#category_info_details" href="#category_info">
          <%= @current_category.name%>详情 +
        </a>
      </h5>
      <div id="category_info_details" class="collapse">
        <br/>
        <%= sanitize(@current_category.product_category_info.details) %>  
      </div>
    </div>
  </div>
</div>
<% else %>
  <div id="info" class="row">
  <div class="col-xs-12 col-md-12">
    <div class="container_box">
      <h5>
        <a data-toggle="collapse" data-target="#info_details" href="#info">
          空气净化器详情 +
        </a>
      </h5>
      <div style="" id="info_details" class="collapse">
        <br>
        <div><div><div><div><blockquote>空气净化器&nbsp;&nbsp; <br></blockquote>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 空气净化器又称“空气清洁器”、空气清新机、净化器，是指能够吸附、分解或转化各种空气污染物（一般包括PM2.5、粉尘、花粉、异味、甲醛之类的装修污染、细菌、过敏原等），有效提高空气清洁度的产品，主要分为家用 、商用、工业、楼宇。</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 空气净化器中有多种不同的技术和介质，使它能够向用户提供清洁和安全的空气。常用的空气净化技术有：吸附技术、负（正）离子技术、催化技术、光触媒技术、超结构光矿化技术、HEPA高效过滤技术、静电集尘技术等；材料技术主要有：光触媒、活性炭、合成纤维、HEAP高效材料、负离子发生器等。现有的空气净化器多采为复合型，即同时采用了多种净化技术和材料介质。<br><br><blockquote><p>空气净化器主要种类</p></blockquote><div><b>机械过滤式空气净化器</b></div>
                <div>一般主要通过以下4种方式捕获微粒：直接拦截，惯性碰撞，布朗扩散机理，筛选效应，其对细小颗粒物收集效果好但风阻大，为了获得高的净化效率，滤网的阻力较大，而且滤网需要致密导致寿命降低，需定期更换。<br><br><b>高压静电集尘</b><b>式空气净化器<br></b>利用高压静电场使气体电离从而使尘粒带电吸附到电极上的收尘方法，其风阻虽小但对较大颗粒和纤维捕集效果差，会引起放电，且清洗麻烦费时，易产生臭氧，形成二次污染。<br><div>“高压静电集尘”是一种既能确保风量又能吸附微细颗粒的方式。这是在颗粒经过滤芯之前通过加载高电压使其带电，使颗粒在电的作用下“容易吸附”到滤芯上的方式。</div>
                  <div>高压电集尘部分原本是向两个电极施加高电压，在两极放电之时，使通过的尘埃带电。大部分灰尘原本都是中性或带弱电
                    荷，因此，滤芯只能过滤到比网眼大的灰尘。但缩小滤芯的网眼又会造成阻塞。高压静电集尘方式能够令尘埃带电，在电的作用下，吸附到经过特殊加工、永久带电
                    的滤芯之上，因此，即使滤芯的网眼偏大（粗），也能够确实捕获到尘埃。</div>
                  <div>静电驻极式滤网</div>
                  <div>相对机械式过滤能仅可有效地去除10微米以上的颗粒物，而当颗粒物的粒径除至5微米，2微米甚至亚微米的范围时，高效的机械式过滤系统就会变得比较昂贵，且风阻会显著增加。通过静电驻极空气过滤材料过滤，能以较低的能源消耗达到很高的捕获效率，同时兼具静电除尘低风阻的优点，但无需外接上万伏的电压，故不会产生臭氧，且由于其组成为聚丙烯材质，很方便抛弃处理。<br><br><div><b>静电除尘</b></div>
                    <div>能过滤比细胞还小的灰尘、烟雾和细菌，防止肺病、肺癌肝癌等疾病。空气里对人体最 有害的是小于2.5微米的灰尘，因其能穿透细胞，进入血液。普通净化机采用 滤纸来过滤空气中的灰尘，极易堵塞滤孔，灰尘不仅没有灭菌效果，而且容易造成二次污染。<br><br><div><b>静电</b><b>灭菌</b></div>
                      <div>采用60 00伏左右的高压静电场，能瞬间完全杀灭寄附在灰尘上的细菌、病毒，防止感冒、传染病等疾病。其灭菌机理是破坏细菌衣壳蛋白的4条多肽链， 并使RNA受损。<br><br><blockquote><p>空气净化器工作原理</p></blockquote><div><b>被动吸附过滤式的净化原理(滤网净化类)</b></div>
                        <div>被动式空气净化器的主要原理是：用风机将空气抽入机器，通过内置的滤网过滤空气，主要能够起到过滤粉尘、异味、有毒气体和杀灭部分细菌的作用。而滤网主要分为：颗粒物滤网和有机物滤网。颗粒物滤网    又分为粗效滤网、和细颗粒物滤网.这类产品的风机以及滤网的质量决定了空气净化的效果，机器放置的位置以及室内的布局也会影响净化效果。<br><br><div><b>主动式的净化原理(无滤网型)</b></div>
                          <div>主动式的空气净化器的原理与被动式空气净化原理的根本 
                            区别就在于，主动式的空气净化器摆脱了风机与滤网的限制，不是被动的等待室内空气被抽入净化器内进行过滤净化，而是有效、主动的向空气中释放净化灭菌因
                            子，通过空气会扩散的特点，到达室内的各个角落对空气进行无死角净化。</div>
                          市场上净化灭菌因子的技术主要有银离子技术、负离子技术、低温等离子技术、光触媒技术和净离子群离子技术等，该类产品最大的缺陷就是臭氧释放量超标的问题。<br><br><div><b>双重净化类（主动净化+被动净化）</b></div>
                          <div>这种净化器其 实就是将被动式净化的技术与主动净化类的技术进行结合。</div><br><blockquote>空气净化器净化效果<br></blockquote><div><b>首先</b>从空气净化效率 
                            来比较。被动式吸附净化模式的空气净化器由于大多采用风机+滤网的模式进行空气净化，风利用空气的流动就难免存在死角，因此被动式的空气净化大多只能在空
                            气净化器放置的周围产生一定的净化效果，很长时间才能将室内空气全部过滤一遍，很难对整个室内环境的净 化产生效果。</div>
                          <div>主动式的空气净化是利用空气的弥漫性的特点将净化因子到达各个角落进行空气净化，空气能够弥漫到的地方均可以产生净
                            化效果。拿负离子空气净化器进行比较发现，对空气中释放负离子后，负离子能够主动出击、寻找空气中的污染颗粒物，并与其凝聚成团，主动将其沉降。仅从这一
                            点来说，主动式的空气净化就有着比较明显的优越性。<br><br></div>
                          <div><b>其次</b>是对小颗粒空气污染物的清除效果进行比较。空气污染物中对人危害最大的就是直径小于2.5微米的
                            细颗粒物（即PM2.5，医学上叫可入肺颗粒物）。而经过实验研究发现，对于PM2.5等这些细小颗粒物，被动式的净化模式显得无能为力，PM2.5等小
                            微粒能轻易透过滤网、活性炭等物质，重新进入空气中危害人体健康。而用基于主动净化原理进行空气净化的负离子空气净化器进行对比发现，空气中小粒径的负离
                            子不仅能够轻易去除空气中的大粒径颗粒物，而且对于空气净化器直径小于0.01洀、在工业上难以除去的微粒飘尘，有百分之百的沉降去除效果。仿大自然的生态级负离子生成技术已经问世，其特点是粒径小、活性高，以其优异的扩散效果和保健效果达到更佳的空气优化效果。<br><br></div>
                          <div><b>最后</b>是对空气 处理的 
                            质量进行对比分析。研究发现，被动式的空气净化原理下，如果其滤网孔径能足够小对于空气处理的结果只能达到净化的目的，即只能得到“干净”的空气；而负离
                            子空气净化器则不同，不仅能够有效去除空气中的颗粒污染物、分解甲醛等有害气体，向室内环境提供干净的空气，还可以向室内环境提供对人体疗养保健有着高效
                            作用的空气负离子，使室内空气质量达到“健康空气”的标准。</div><br></div></div><br></div><br></div><br></div></div></div></div></div>  
      </div>
    </div>
  </div>

<% end %>
